.wrapper {
  height: 100%;
  width: 80px;
  background: #607d8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.iconWrapper {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  transition: all 0.5s;
  & i {
    color: white;
    font-size: 24px;
  }
  &:hover {
    background: #455a64;
  }
}
.active {
  background: #00bcd4;
  &:hover {
    background: #00bcd4;
  }
}
.signOut {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  & i {
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
}
